* { margin: 0; padding: 0; box-sizing: border-box; }
a { text-decoration: none; color: var(--disable); }
a:hover { color: var(--active) }
svg.svg-icon { width: 32px; height: 32px; cursor: pointer }
svg.svg-icon > * { fill: var(--disable); }
svg.svg-icon:hover > * { fill: var(--primary); }

:root {
  --light: #ccc;
  --active: #586069;
  --hover: #888;
  --disable: #e1e4e8;
  --primary: #ffa500;
  --link: #0366d6;
  --black800: hsl(210,8%,15%);
  --container-width: 540px;
  --container-height: 500px;
  --ff-sans: -apple-system,BlinkMacSystemFont,"Segoe UI","Liberation Sans",sans-serif;
  --ff-serif: Georgia,Cambria,"Times New Roman",Times,serif;
  --ff-mono: ui-monospace,"Cascadia Mono","Segoe UI Mono","Liberation Mono",Menlo,Monaco,Consolas,monospace;
}

body {
  height: 100vh;
  background-color: #fff;
  font: 18px/1 var(--ff-sans);
  color: var(--active);
}
#app { height: 100%; }
#main-container { height: var(--container-height); width: var(--container-width);}
main { 
  height: 100%;
  display: flex; 
  flex-direction:column; 
  align-items: center; 
  justify-content: center; 
}

.tab-container {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.d-flex { display: flex; }
.fd-column { flex-direction: column;}
.ai-center { align-items: center; }
.jc-between { justify-content: space-between; }
.g-40 { gap: 40px; }
.g-20 { gap: 20px; }
.g-10 { gap: 10px; }
.g-5 { gap: 5px; }
.g-3 { gap: 3px; }


h2.title {
  font-size: 28px;  
  line-height: 28px;
  color: var(--black800);
  font-weight: 400;
}
.subtitle { font-size: 16px; }
.small-text { 
  font-size: 12px; 
  font-weight: 300;
  color: var(--disable)
}
